[package]
name = "cpc"
version = "1.9.1"
description = "evaluates math expressions, with support for units and conversion between units"
authors = ["Kasper Henningsen"]
edition = "2021"
readme = "README.md"
license = "MIT"
homepage = "https://github.com/probablykasper/cpc#readme"
repository = "https://github.com/probablykasper/cpc"
documentation = "https://docs.rs/cpc"
keywords = ["math", "expression", "evaluate", "units", "convert"]
categories = [
    "mathematics",
    "science",
    "parsing",
    "text-processing",
    "value-formatting",
]

[dependencies]
decimal = { version = "2.1", default-features = false, features = [
    "serde",
    "ord_subset",
] }
unicode-segmentation = "1.10"

[dev-dependencies]
regex = "1.7"
